.card {
    border-radius: 0px;
    color: var(--text-dark);
    background: var(--light);
}

.card img {
    border-radius: 0px;
}

.card-title {
    color: var(--text-dark);
}

.card-text {
    color: var(--text-dark);
}

.btn-primary {
    background: #1e1e1e;
    border-radius: 0px;
    padding: 10px 20px;
    color: var(--text-light);
    font-weight: bold;
    border: none;
}

.btn-primary:hover {
    background: #3e3e3e;
    color: var(--text-light)
}