.card {
    border-radius: 0px;
    color: var(--text-dark);
    background: var(--light);
}

.card img {
    border-radius: 0px;
    box-shadow: black ;
}

.card-title {
    color: var(--text-dark);
}

.card-text {
    color: var(--text-dark);
}

.btn-primary {
    background: var(--orange-dark);
    border-radius: 0px;
    padding: 10px 20px;
    color: var(--text-dark);
    font-weight: bold;
    border: none;
}

.btn-primary:hover {
    background: var(--blue);
    color: var(--text-light)
}