/* ================================
   FUENTES PERSONALIZADAS
================================== */
@font-face {
  font-family: "Open Sans";
  src: url('/fonts/OpenSans.ttf');
}

@font-face {
  font-family: "Product Sans";
  src: url('/fonts/ProductSansRegular.ttf');
}

@font-face {
  font-family: "Product Sans Italic";
  src: url('/fonts/ProductSansItalic.ttf');
}

@font-face {
  font-family: "Product Sans Italic Bold";
  src: url('/fonts/ProductSansBoldItalic.ttf');
}

@font-face {
  font-family: "Product Sans Bold";
  src: url('/fonts/ProductSansBold.ttf');
}

:root {
  /* Colores base */
  --light: #f6f6f6;
  --white: #ffffff;
  --blue: #2F6CA3;
  --blue-dark: #0A365E;
  --orange: #e3bb9d;
  --orange-dark: #c1763c;
  --muted: #6c757d;
  --text-dark: #212529;
  --text-light: #ffffff;
  --bg: #efefef;

  /* Login / Inputs */
  --login-bg: var(--white);
  --text-color: var(--text-dark);
  --input-bg: var(--light);
  --input-text: var(--text-dark);
  --input-border: var(--muted);
  --label-color: var(--muted);
  --placeholder-color: var(--muted);
  --input-focus-shadow: rgba(47, 108, 163, 0.25);

  /* Botones */
  --show-btn-color: var(--blue);
  --show-btn-hover: var(--blue-dark);
  --accent-color: var(--blue);

  /* Dropdown / Navbar */
  --navbar-bg: var(--white);
  --navbar-dropdown-item-color: var(--text-dark);
  --divider-color: #dee2e6;
  --shadow-color: rgba(0, 0, 0, 0.15);

  /* Estados / Extra */
  --secondary-color: var(--blue-dark);
  --muted-color: var(--muted);
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-dark);
  background-color: var(--bg);
}

/* Tipografía global */
div,
label,
input,
p,
span,
a,
button {
  font-family: "Open Sans", sans-serif;
  color: var(--text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans Bold", sans-serif;
  color: var(--text-dark);
}


main {
  color: var(--text-dark);
  background-color: var(--bg);
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--blue-dark);
}

footer {
    margin-top: 30px;
    text-align: center;
    color: var(--muted);
}

.modal-body {
  background-color: transparent;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: none;
  background-color: var(--modal-bg);
}

.themed-input {
  background-color: var(--input-bg) !important;
  color: var(--input-text) !important;
  border: 1px solid var(--input-border) !important;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  
}

.themed-input:focus {
  border-color: var(--accent-color) !important;
  box-shadow: 0 0 0 0.25rem var(--input-focus-shadow);
  outline: none;
}

.themed-input::placeholder {
  color: var(--placeholder-color) !important;
}

.hidden {
  display: none;
}

.logout {
  color: rgb(215, 48, 48);
  transition: all 0.2s;
}

.logout:hover {
  color: rgb(162, 26, 26);
  transition: all 0.2s;
}

.cursor-pointer {
  cursor: pointer;
}

.muted {
  color: #868686;
}