/* ================================
   FUENTES PERSONALIZADAS
================================== */
@font-face {
  font-family: "Open Sans";
  src: url('/fonts/OpenSans.ttf');
}

@font-face {
  font-family: "Product Sans";
  src: url('/fonts/ProductSansRegular.ttf');
}

@font-face {
  font-family: "Product Sans Italic";
  src: url('/fonts/ProductSansItalic.ttf');
}

@font-face {
  font-family: "Product Sans Italic Bold";
  src: url('/fonts/ProductSansBoldItalic.ttf');
}

@font-face {
  font-family: "Product Sans Bold";
  src: url('/fonts/ProductSansBold.ttf');
}

* {
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}

:root {
  --accent: linear-gradient(45deg,
    #ff66ff,
    #66ffff,
    #ffff66,
    #66ff66,
    #ff6666
  );
  --accent-hover: linear-gradient(45deg,
    #ff99ff,
    #99ffff,
    #ffff99,
    #99ff99,
    #ff9999
  );
}

.light {
    --primary: #bebebe;
    --secondary: #ffffff;
    --muted: #6c757d;
    --text: #212529;
    --bg: #ffffff;
}

.dark {
    --primary: #343a40;
    --secondary: #212529;
    --muted: #adb5bd;
    --text: #f8f9fa;
    --bg: #212529;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

/* Tipografía global */
div,
label,
input,
p,
span,
a,
button {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans Bold", sans-serif;
  color: var(--text);
}


main {
  color: var(--text);
  background-color: var(--bg);
}

.theme-toggle {
    position: fixed;
    bottom: 20px;   
    right: 20px;
    z-index: 1000;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--accent-hover);
}

.theme-toggle:hover {
    background-color: var(--accent-hover);
}

footer {
    margin-top: 30px;
    text-align: center;
    color: var(--muted);
}

.gradient-text {
    background: var(--accent);
    background-size: 300% 300%; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: holografico 4s ease infinite;
}
